/*
    You can add your own custom styles here.
*/
@import url('https://cdn.jsdelivr.net/npm/lxgw-wenkai-lite-webfont@1.1.0/style.css');
@import url('https://cdn.jsdelivr.net/npm/@fontsource/cascadia-code@4.2.1/index.min.css');
//修改文章字体和代码字体
:root {
    --zh-font-family: 'LXGW WenKai Lite';
    --base-font-family: var(--zh-font-family), sans-serif;
    --code-font-family: 'Cascadia Code', var(--zh-font-family), monospace;
}
//修改滚动条样式
* {
    scrollbar-width: thin;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

//修改目录间距
.widget--toc {
    #TableOfContents {
        li {
            margin: 2px 0 2px 4px;
            padding: 3px;
            & > ul {
                margin-top: 2px;
                margin-bottom: -2px;
            }
        }
    }
}

.article-list {

    article {
        
    .article-header {
            display: flex;
        }
      .article-image {
        width: 38.2%;
        img {
          display: block;  
          width: 100%;
        }
      }
    }
    
  }

.article-list--compact {
    --image-size: 60px;
    @include respond(md) {
      --image-size: 60px;
    }
    article {
      .article-image {
        img {
          height: var(--image-size);
          object-fit: cover;
          border-radius: var(--card-border-radius);
        }
      }
    }
  }

  .article-page {
    .main-article {
      .article-header {
        .article-image {
          img {
            width: 100%;
          }
        }
      }
    }
  }
//调整文章详情页底部的相关文章列表的封面图片大小
  .related-content {
    article {
      width: 228px;
      height: 62.5px;
      
      .article-title {
        font-size: 1.6rem;
      }
    }
  }  